  .map {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  .btn{
    width: 100%;
    margin: 0px;
    padding: 0px;
    word-break: keep-all !important;
  }
  .col{
    min-width: fit-content;
    padding: 5px;
  }
  .dogeload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url(../img/dogeload.gif) center no-repeat rgba(255, 255, 255, 0.5);
  }
  .row{
    text-align: center !important;
  }
  .colmenu{
    text-align: center !important;
  }
