.redDogeMiner {
  width: 5vw;
  height: 5vh;
  background: url("../img/redDogeMiner.gif") no-repeat scroll 0% 0% transparent;
  background-size: contain;
  cursor: pointer;
}
.yhellowDogeMiner {
  width: 3vw;
  height: 3vh;
  background: url("../img/yhellowDogeMiner.gif") no-repeat scroll 0% 0% transparent;
  background-size: contain;
  cursor: pointer;
}
.blueDogeMiner {
  width: 2vw;
  height: 2vh;
  background: url("../img/blueDogeMiner.gif") no-repeat scroll 0% 0% transparent;
  background-size: contain;
  cursor: pointer;
}
.greyDogeMiner {
  width: 2vw;
  height: 2vh;
  background: url("../img/greyDogeMiner.gif") no-repeat scroll 0% 0% transparent;
  background-size: contain;
  cursor: pointer;
}