.interceptor {
  width: 3vw;
  height: 3vh;
  background: url("../img/interceptor.gif") no-repeat scroll 0% 0% transparent;
  background-size: contain;
  cursor: pointer;
  position: relative;
  animation-name: interceptora;
  animation-duration: 35s;
  animation-iteration-count:infinite;
}
@keyframes interceptora {
  0%   {left:0px; top:0px; transform: rotate(0deg);}
  25%  {left:1px; top:0px;}
  50%  {left:2px; top:2px; transform: rotate(50deg);}
  75%  {left:0px; top:2px;}
  100% {left:0px; top:0px; transform: rotate(0deg);}
}